<div class="toolcontrols">
		<input type="radio" class="mr" name="inlineRadioOptions" id="inlineRadio1" value="mr"><label for="inlineRadio1">LS</label>
		<input type="radio" class="cor" name="inlineRadioOptions" id="inlineRadio1" value="cor" disabled><label for="inlineRadio1">COR</label>
	    <strong>MR </strong><input type="text" class="cutoff" placeholder="10">
	  	<button class="reload">Query</button>
	  	<button class="defaults">Reset</button>
		<div style="font-size: 10px"><strong>LS</strong>: LS is a monotonic transformation (negative logit) of MR index. </div>
 </div>




