<div class="toolcontrols">
    <strong>Top N </strong><input type="text" class="cutoff" placeholder="10">
  	<button class="reload">Query</button>
  	<button class="defaults">Reset</button>
	<div style="font-size: 10px"><strong>LS</strong>: LS is a monotonic transformation (negative logit) of MR index. Larger LS indicates stronger co-expression.</div>
 </div>




