.atted-table {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    width: 100%;
    overflow: auto;
    border: 1px solid #ddd;
}

.toolcontrols {
    padding: 5px 0 5px 0;
}

.toolcontrols input[type="radio"] {
    display: none;
}

.toolcontrols label {
    display: none;
}

.toolbar {
    /*margin: 0 35px 0 35px;*/
    clear: both;
}

.atted-table-wrapper {
    max-height: 300px;
    height: fit-content;
    overflow-y: scroll;
    background: #EBEBEB;
    clear: both;
}

.atted-loading-message {
    height: 150px;
    max-height: 150px;
    text-align: center;
    position: relative;
}

.atted-controls {
    margin-left: 35px;
    margin-right: 35px;
}
